.main-header {
	margin: 60px 0 51px;
}
.container {
	width: 1280px;
	margin: 0 auto;
}
.header-title {
	margin-bottom: 60px;
}
.link-header {
	font-family: Arial, sans-serif;
	text-decoration: none;
	font-size: 80px;
	color: #4bcaff;
}
.header-title-black {
	color: #000000;
}
.header-menu {
	background-color: #35444f;
	text-align: center;
}
.header-menu-item {
	display: inline-block;
}
.header-menu-item-link {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 24px;
	padding: 26px 41px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	transition: background-color 1s;
}
.header-menu-item-link:hover {
	background-color: #222f3a;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
}
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.main-block {
	box-sizing: border-box;
	padding: 0 0 51px;
}
.left-sidebar {
	width: 25%;
	float: left;
}
.content {
	width: 69%;
	float: right;
}
.main-menu {
	border: 1px solid #000000;
}
.main-menu-link {
	display: block;
	font-family: Arial, sans-serif;
	color: #485863;
	font-size: 27px;
	text-decoration: none;
	padding: 30px 44px;
	transition: background-color 1s, color 1s;
}
.main-menu-link:hover {
	color: #000000;
	background-color: #dcdcdc;
	padding-left: 64px;
	border-left: 1px solid #000000;
}
.content-main-img {
	border: 1px solid #000000;
	padding: 75px;
	text-align: center;
	margin-bottom: 50px;
}
.content-main-img img {
	max-width: 100%;
}
.content-text {
	font-family: Arial, sans-serif;
	color: #2c2b2b;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}
.text {
	padding-bottom: 30px;
}
.footer {
	padding-left: 44px;
	padding-right: 44px;
	background-color: #b5b8bb;
}
.footer-menu {
	float: left;
}
.footer-item {
	display: inline-block;
	padding-bottom: 3px;
	margin: 22px 11px 0 11px;
}
.footer-link {
	display: inline-block;
	color: #000000;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 28px;
	text-align: left;
}
.footer-link:hover {
	color: #3181a6;
	border-bottom: 1px solid #3181a6;
}
.copyright {
	float: right;
	background-color: #b5b8bb;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 24px;
	padding: 22px;
	text-align: right;
}
.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}




