.container {
    width: 1160px;
    margin: 0 auto;
}

.navbar-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    /*position: relative;*/
    /*bottom: -31px;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    position: fixed;
    background-color: rgba(73, 71, 63, 0.6);
    padding-top: 25px;
    padding-bottom: 28px;
    opacity: 0.5;
    width: 100%;
    text-decoration: none;
}

.navbar-logo {
    display: flex;
    text-align: right;
}

.navbar-logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-logo-text {
    margin-left: 8px;
}

.navbar-logo-img {
    /*display: inline-block;*/
    background-image: url("../img/Polygon 1.png");
    background-repeat: no-repeat;
    height: 67px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-top-item {
    display: inline-block;
}

.navbar-logo-img1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 31.96px;
}

.navbar-logo-img2 {
    font-family: 'Montserrat', sans-serif;
    color: #18cfab;
    font-size: 31.96px;
    font-weight: 700;
}

.menu-top-link {
    margin-right: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.menu-top-link:hover {
    color: #18cfab;
}

.menu-top-link::after {
    content: '';
    height: 2px;
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid #18cfab;
    position: absolute;
    bottom: -57px;
    opacity: 0;
    left: 0;
}

.menu-top-link:hover::after {
    opacity: 1;
}

.menu-top.link {
    display: inline-block;
}

.navbar-search {
    display: none;
}

.fa-search {
    color: #b8b8b8;
}

.navbar-logo-img {
    /*background-color:  #18cfab;*/
    width: 58px;
    height: 67px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.menu-top-right {
    display: flex;
}

.header {
    background-image: url("../img/Layer 1.jpg");
    /*height: 100vh;*/
    padding-top: 366px;
    padding-bottom: 244px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title1 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.header-title1-green {
    color: #18cfab;
}

.header-title2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 146px;
}

.btn {
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    padding: 26px 32px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.btn-green {
    background-color: #18cfab;
    color: white;
    transition: .5s;
}

.btn-green:hover {
    box-shadow: 0 6px 0 0 white inset;
/
}

.btn-blue {
    background-color: #00cbf6;
    color: white;
    transition: .5s;
    margin-left: 28px;
}

.btn-blue:hover {
    box-shadow: 0 6px 0 0 white inset;
/
}

.header-items {
    display: flex;
    justify-content: center;
}

.header-item {
    width: 25%;
    padding-top: 63px;
    padding-bottom: 95px;
}

.header-item-img {
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-item-black {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}

.header-item-green {
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
}

.header-item-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.header-item-name-green {
    color: #18cfab;
}

.header-item-name-white {
    color: #ffffff;
}

.header-item-img-green {
    padding-bottom: 49px;
}

.header-item-img-white {
    padding-bottom: 50px;
}

.our-services {
    padding: 82px 0 103px;
}

.our-services-title {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 37px;
    text-align: center;
}

.lines-img {
    text-align: center;
    margin: 0 auto 70px auto;
}

.our-services-menu {
    display: table;
    background: #f8fcfe;
    width: 100%;
    border: 1px solid #eceded;
    margin-bottom: 25px;
}

.our-services-menu li {
    display: table-cell;
    /*padding: 27px 20px 30px;*/
    border-right: 1px solid #eceded;
    text-align: center;
    /*width: 193px;*/
}

.our-services-menu li a {
    font-family: Montserrat, sans-serif;
    color: #717171;
    font-size: 15.98px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 27px 20px 30px;
    box-sizing: border-box;
}

.our-services-menu li.active {
    position: relative;
}

.our-services-menu li.active::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 80px;
    bottom: -20px; /* Положение треугольника */
    border: 10px solid transparent; /* Прозрачные границы */
    border-top: 10px solid #18cfab; /* Добавляем треугольник */
}

.our-services-menu li.active a {
    background: #18cfab;
}

.our-services-content {
    display: none;
}

.our-services-content.active {
    display: block;
}

/*.our-services-menu li:hover {*/
/*position: relative;*/
/*background: #18cfab;*/
/*}*/

/*.our-services-menu li:hover::after {*/
/*content: '';*/
/*position: absolute; !* Абсолютное позиционирование *!*/
/*left: 80px; bottom: -20px; !* Положение треугольника *!*/
/*border: 10px solid transparent; !* Прозрачные границы *!*/
/*border-top: 10px solid #18cfab; !* Добавляем треугольник *!*/
/*}*/

.our-services-img {
    float: left;
    margin-right: 20px;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.our-services-text {
    width: 100%;
}

.purchase {
    background-image: url(../img/Parallax.jpg);
    height: 476px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 126px 0 127px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 97px;
    box-sizing: border-box;
}

.purchase-title {
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 35px;
}

.purchase-description {
    font-family: Montserrat, sans-serif;
    color: #d8d8d8;
    font-size: 16px;
    text-align: center;
    margin-bottom: 80px;
}

.purchase-btn {
    margin-left: 500px;
}

.amazing-work {
    padding: 97px 0 100px;
    background-color: #f8fcfe;
    border-bottom: 1px solid #e2e2e2;;
}

.amazing-work-title {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 26px;
    text-align: center;
}

/*.lines-img {*/
/*text-align: center;*/
/*margin: 0 auto 70px auto;*/
/*}*/

.amazing-work-menu {
    display: table;
    background: #fff;
    width: 100%;
    border: 1px solid #ececec;
    margin-bottom: 71px;
}

.amazing-work-menu li {
    display: table-cell;
    padding: 24px 29px;
    border-right: 1px solid #ececec;
    text-align: center;
}

.amazing-work-menu li a {
    font-family: Montserrat, sans-serif;
    color: #717171;
    font-size: 14px;
    text-decoration: none;
}

.amazing-work-menu li:hover {
    border-top: 1px solid #18cfab;
}

.amazing-work-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 71px;
}

.amazing-work-item {
    width: 284px;
    display: none;
    position: relative;
}

.amazing-work-menu-item:hover
.amazing-work-link {
    color: #18cfab;
}

.amazing-work-image {
    max-width: 100%;
}

.amazing-work-item:nth-child(4n) {
    margin-right: 0;
}

.btn-load-more {
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    padding: 26px 32px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #18cfab;
    color: #fff;
    text-align: center;
    margin-left: 500px;
    position: relative;
}

.btn-sign-plus {
    position: absolute;
    left: 9px;
    bottom: 25px;
}

.btn-load-more:hover {
    background-color: #7fffd4;
}

.breaking-news {
    padding: 84px 0 132px;
}

.breaking-news-title {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.breaking-news-menu {
    text-align: center;
}

.breaking-news-item {
    display: inline-block;
    margin-right: 28px;
}

.breaking-news-item:nth-child(4n) {
    margin-right: 0;
}

.breaking-news-date-text {
    background-color: #203e38;
    width: 68px;
    height: 66px;
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 15px 0 15px;
    box-sizing: border-box;
}

.breaking-news-date-number {
    margin-bottom: 5px;
}

.breaking-news-item {
    position: relative;
/ / margin-bottom: 45 px;
}

.breaking-news-date-link {
    position: absolute;
    right: 0;
    top: 0;
}

.breaking-news-item-title-link {
    text-decoration: none;
}

.breaking-news-item-title {
    background: #f8fcfe;
    width: 264px;
    height: 72px;
    border: 1px solid #edeeee;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 208px;
}

.breaking-news-picture {
    margin-bottom: 117px;
}

.breaking-news-item-title-text-big {
    font-family: Montserrat, sans-serif;
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    margin-left: 13px;
    margin-bottom: 13px;
    text-align: left;
}

.breaking-news-item-title-text-small {
    font-family: Montserrat, sans-serif;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    display: block;
    margin-left: 13px;
    margin-bottom: 13px;
    text-align: left;
}

.breaking-news-item-title-text {
    padding-bottom: 11px;
}

.breaking-news-date-link {
    text-decoration: none;
}

.breaking-news-item:hover
.breaking-news-item-title-text-big {
    color: #18cfab;
}

.breaking-news-item:hover
.breaking-news-date-text {
    color: #18cfab;
}

.what-people-say {
    background-image: url("../img/BG-what-people-say.jpg");
    padding: 99px 0 104px;
}

.what-people-say-title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 36px;
    margin-bottom: 31px;
    text-align: center;
}

.quotation-mark-img {
    text-align: center;
    margin: 0 auto 43px auto;
}

.what-people-say-selection{
    display: flex;
    justify-content: center;
}

.persone-info-quotation {
    font-family: Montserrat, sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 43px;
}

.persone-info-name {
    font-family: Montserrat, sans-serif;
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 27px;
    text-align: center;
    text-transform: uppercase;
}

.persone-info-profession {
    font-family: Montserrat, sans-serif;
    color: #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 27px;
    text-align: center;
}

.selected-persone {
    text-align: center;
    margin-bottom: 54px;

}

.carousel-item-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-carousel {
    width: 21px;
    height: 21px;
    background-color: rgba(46, 74, 91, 0.5);
    color: #bababb;
    border: 1px solid #919697;
    text-decoration: none;
    display: inline-block;
    margin-top: 17px;
    position: relative;
}

.btn-carousel:hover {
    background-color: #18cfab;
}

.arrow {
    position: absolute;
    left: 5.5px;
    bottom: 5px;
}

.people-list {
    display: flex;
}

.people-list-item {
    display: inline-block;
    justify-content: center;
}

#slider {
    width: 500px;
    height: 300px;
    margin: 0 auto 10px;
    overflow: hidden;
    position: relative;
}

#slider ul li {
    /*font-size: 1.5em;*/
    /*color: #fff;*/
    text-align: center;
    float: left;
}

#pager {
    text-align: center;
}

.best-images-title {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    margin-bottom: 26px;
    text-align: center;
}

.best-images {
    padding: 97px 0 100px;
    background-color: #f8fcfe;
}

.best-images-gallery {
    margin-bottom: 67px;
}

.footer {
    padding: 47px 0;
    background-color: #22353f;
    text-align: center;
}

.footer-text {
    font-family: Montserrat, sans-serif;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
}

.footer-text-green {
    color: #18cfab;
}



