.backgroud {
	background-image: url('../image/background.png');
	width: 1366px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	width: 1060px;
	margin: 0 auto;
}

.header {
	padding: 48px 0 48px;
}

.header-main{
	float: left;
}

.header-logo-img {
	background-image: url('../image/logo.png');
	background-position: left;
	background-repeat: no-repeat;
	height: 46px;
	width: 44px;
	display: inline-block;
	transition: 1s;
}

.header-logo-text{
	display: inline-block;
}

.header-logo-text a {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 29px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
		width: 60px;
	line-height: 9px;
	transition: 1s;
}

.holidays{
	font-size: 19px;
}

.header-main:hover .header-logo-text a{
	color: #f26522;
}

.header-main:hover .header-logo-img {
	background-image: url('../image/logo-orange.png');
}

.header-block-right {
	margin-top: 17px;
	float: right;
	text-align: right;
}

.header-contact-text {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 18px;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main-menu-item{
	display: inline-block;
	float: left;
	width: 308px;
	margin-right: 68px;
	margin-bottom: 98px;
	position: relative;
	text-align: center;
	height: 200px;
}

.main-picture{
	width: 308px;
	max-width: 100%;
	padding-bottom: 22px;
	max-height: 100%;
}

.main-menu-item:nth-child(3n) {
	margin-right: 0;
}

.main-picture-title{
	font-family: 'Open Sans', sans-serif;
	color:  #ffffff;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	transition: 1s;
}

.main-menu-item:hover .main-picture-title {
	color:  #f26522;
}

.main-menu-item:hover
 .item-view-details{
	background-color: #f26522;
	color: white;
	border-left: 1px solid #f26522;
	border-bottom: 1px solid #f26522;
}

.item-view-details {
	box-sizing: border-box;
	position: absolute;
	width: 308px;
	height: 63px;
	bottom: -31px;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	color: transparent;
	padding: 10px 10px;
	text-decoration: none;
	transition: 1s;
}

.view-details-left{
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	float:left;
	text-align: left;
}

.tour-price{
	padding: 8px 0 8px 16px;
}

.view-details-text{
	padding: 22px 6px 8px 0;
}

.view-details-right {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	float:right;
}

.euro{
	font-size: 20px;
}

.footer{
	/*box-sizing: border-box;*/
	padding-bottom: 20px;
}

.copyright{
	font-family: 'Open Sans', sans-serif;
	color:  #fff;
	font-size: 12px;
	width: 330px;
	margin: 0 auto;
}




