* {
	box-sizing: border-box;
}

html {
	background-image: url('../image/background.png');
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.container{
	padding: 0 80px;
}

.clearfix::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.header{
	background-color: rgba(0, 0, 0, 0.41);
	height: 54px;
	line-height: 54px;
}

.header-left-logo{
	float: left;
}

.header-logo a{
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	transition: .2s;
}

.header-logo a:hover{
	color:  #3cb878;
}

.header-menu-login-signup{
	display: inline-block;
	float: right;
	margin-left: 24px;
}

.header-item-login-signup{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 14px;
}

.header-item-login-signup-link{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: #3cb878;
	font-size: 14px;
	padding-bottom: 1px;
}

.header-item-login-signup-link:hover{
	text-decoration: underline;
}

.header-icons{
	float: right;
	height: 54px;
	padding: 5px 0;
}

.header-icon{
	display: inline-block;
	text-decoration: none;
	background-image: url('../image/css_header_sprites.png');
}

.header-icon-forum {
	width: 28px;
	height: 20px;
	background-position: -216px -10px;
	padding-right: 36px;
}

.header-icon-journey {
	width: 20px; height: 20px;
	background-position: -128px -10px;
  padding-right: 40px;
	border-right: 2px solid #2f2d2d;
}

.header-icon-calendar {
	width: 19px;
	height: 19px;
	background-position: -49px -10px;
	padding-right: 28px;
}

.header-icon-calendar:hover {
	background-position: -10px -10px;
}

.header-icon-forum:hover {
	width: 28px; height: 20px;
	background: url('../image/css_header_sprites.png') -168px -10px;
}

.header-icon-journey:hover {
	width: 20px; height: 20px;
	background: url('../image/css_header_sprites.png') -88px -10px;
}

.main-section {
	/*height: calc(100vh - 54px);*/
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.form-signup-login{
	width: 444px;
	height: 651px;
	background-color: white;
	border-radius: 5px;
	padding: 29px 60px 32px;
}

.signup-login{
	margin-bottom: 15px;
}

.signup{
	display: inline-block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	color:  #434343;
	font-size: 20px;
	text-decoration: none;
}

.signup:hover{
	text-decoration: underline;
}

.login{
	display: inline-block;
	float: right;
	font-family: 'Open Sans', sans-serif;
	color:  #3cb878;
	font-size: 14px;
	text-decoration: none;
	margin-top: 5px;
}

.login:hover {
	text-decoration: underline;
}

.form-signup-login{
	position:relative;
}

.small-green-square{
	background-color: #3cb878;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 92.5%;
}

.social-links{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 30px;
 }

.loginBtn {
	box-sizing: border-box;
	position: relative;
	/* width: 13em;  - apply for fixed size */
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height:34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #FFF;
}
.loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
}
.loginBtn:focus {
	outline: none;
}
.loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook  {
	width: 48%;
	background-color: #305db8;
	background-image: linear-gradient(#4C69BA, #3B55A0);
	text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
	border-right: #364e92 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
	background-color: #264b96;
	background-image: linear-gradient(#5B7BD5, #4864B1);
}

.facebook-link{
	text-align: center;
	text-decoration: none;
	color: #FFF;
}

.loginBtn--google {
	width: 48%;
	background: #df4a32;
	text-align: left;
}
.loginBtn--google:before {
	border-right: #BB3F30 1px solid;
	background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
	background: #c3412c;
}
.google-link{
	text-decoration: none;
	color: #FFF;
}

.form-lines {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 18px;
}

.form-line {
	color: #eaeaea;
	border: 1px solid #eaeaea;
	display: inline-block;
	width: 135px;
}

.form-word-between-lines{
	font-family: 'Open Sans', sans-serif;
	color:  #848484;
	font-size: 14px;
}

.contact-field-input {
	font-family: 'Open Sans', sans-serif;
	color: #434343;
	font-size: 14px;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	padding: 18px 0 18px 18px;
}

.contact-field-input::placeholder {
	font-family: 'Open Sans', sans-serif;
	color:  #bebebe;
	font-size: 14px;
}

.contact-field-input:focus{
	box-shadow: 7px 7px 10px rgba(0,0,0,0.5);
	border:1px solid #e7e7e7;
	outline: none;
}

.terms-conditions-info{
	margin-bottom: 5px;
}

.squaredFour {
	display: inline-block;
	width: 20px;
	margin: 20px auto;
	position: relative;
}

.squaredFour label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	border-radius: 4px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
	background: #fcfff4;
}

.squaredFour label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #3aba78;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredFour label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.5;
}

.squaredFour input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.agree-conditions-text{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color:  #434343;
	font-size: 14px;
	margin-left: 6px;
}

.terms-conditions-link{
	font-family: 'Open Sans', sans-serif;
	color:  #3cb878;
	font-size: 14px;
	text-decoration: none;
	margin-left: 6px;
}

.terms-conditions-link:hover{
	text-decoration: underline;
}

.button-create-account{
	box-sizing: border-box;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	color:  #fff;
	background-color: #2f9b65;
	font-size: 14px;
	border-radius: 5px;
	padding: 17px 100px;
	outline: none;
	cursor: pointer;
}






