/*font-family: 'Arimo', sans-serif;*/

body{
	background-color: #374765;
}

table{
	background-color: #fafafa;
	margin: 20px auto 0;
	text-transform: uppercase;
}

.first-column-width{
	width: 310px;
}

.columns-width{
	width: 278px;
}

.option-text {
	font-family: Arimo;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	padding: 26px 73px;
}

/*.option-text:hover{*/
	/*font-size: 30px;*/
	/*font-weight: 700;*/
/*}*/

.option-background-green{
	background-color: #89c331;
}

.option-background-red{
	background-color: #f04a56;
}

.option-background-blue{
	background-color: #20807c;
}

.background-light-grey{
	background-color: #fafafa;
}

.background-middle-grey{
	background-color: #f2f2f2;
}

.background-dark-grey{
	background-color: #e3e3e3;
}

.pricing-plan-small-text{
	font-family: Arimo;
	color:  #484848;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.pricing-plan-big-text {
	font-family: Arimo;
	color: #484848;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}

.pricing-plan{
	padding: 30px 49px;
	vertical-align: middle;
}

.price-text{
	font-family: Arimo;
	color:  #484848;
	font-size: 60px;
	font-weight: 700;
	text-align: left;
	padding: 18px 0 18px 33px;
}

.cent{
	font-family: Arimo;
	color:  #484848;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	padding: 28px 0 0;
}

.price-text-small{
	font-family: Arimo;
	color:  #484848;
	font-size: 18px;
	text-align: left;
}

/*.cent:after{*/
	/*content : ".99";*/
	/*font-family: Arimo;*/
	/*color:  #484848;*/
	/*font-size: 24px;*/
	/*font-weight: 700;*/
	/*position: absolute;*/

/*}*/

.flex{
display: flex;
}

.main-text{
	font-family: Arimo;
	color:  #484848;
	font-size: 16px;
	text-align: center;
	padding: 28px;
}

.icons{
	margin-right: 12px;
}

.btn{
	text-align: center;
	padding: 30px;

}

.button-contact-us{
	border-radius: 5px;
	background-color:  #484848;
	font-family: Arimo;
	color:  #ffffff;
	font-weight: 700;
	padding: 18px 44px;
	text-transform: uppercase;
	cursor: pointer;
	border:none;
}
/*.boxShadow1 {*/
	/*margin: 10px auto;*/
	/*padding: 1em;*/
	/*box-shadow:*/
		/*inset 0 0 100px hsla(0,0%,0%,.2),*/
		/*inset 0px 1px 5px #999,*/
		/*inset 0px 2px 0px #888,*/
		/*inset 0px 3px 0px #777,*/
		/*inset 0px 4px 0px #666,*/
		/*inset 0px 5px 0px #555,*/
		/*inset 0px 6px 0px #444,*/
		/*inset 0px 7px 0px #333,*/
		/*inset 0px 8px 7px #001135;*/
/*}*/

.button-buy-now{
	border-radius: 5px;
	font-family: Arimo;
	color:  #ffffff;
	font-weight: 700;
	padding: 18px 58px;
	text-transform: uppercase;
	cursor: pointer;
}

.button-buy-now-green{
	background-color:  #89c331;
	border:none;
}

.button-buy-now-red{
	background-color:  #f04a56;
	border:none;
}

.button-buy-now-blue{
	background-color:  #20807c;
	border:none;
}

.border{
	border-right: 2px solid #d9d9d9;;;
}

.button:hover{
	opacity: .8;
}



