        .container {
          width: 1200px;
          margin: 0 auto;
          //background-color: white;
        }

        body{
        background-color: lightgrey;
        }

        a {
            color:green;
            font-weight: bold;
            text-decoration: none;
            margin-right: 80px;
        }

        .block1 {
            margin: 40px 0;
            text-align: center;
        }

        .blockImage {
            width: 650px;
            height: 450px;
            margin-left: auto;
            margin-right: auto;
            }

        img {
            width: 650px;
            height: 450px;
            text-align: center;
            }

        h1 {
            text-align: center;
        }

        .block2{
            text-align: center;
            width: 650px;
            margin-left: auto;
            margin-right: auto;
        }

        .block3{
            text-align: center;
            width: 650px;
            margin-left: auto;
            margin-right: auto;
        }

        .block4 {
             text-align: center;
             margin: 40px auto 40px auto;
        }

        button {
             color:white;
             background-color: green;
             font-weight: bold;
        }

        .block5 {
        text-align: right;
        font-size: 10px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 40px;
        }

